@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
	padding :0;
	margin :0;
	box-sizing: border-box;
}
html{
	font-size:  10px;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p{
color:black;
	text-align: left;
	font-size: 1.6rem;
	line-height: 1.9rem;
	padding: 20px;
	text-align: center;
}
span{
	color: brown;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#hero{
	background-image: url('./Images/bg10.jpeg'); 
	background-size: cover;
	background-position: top right;
	position: relative;
	
}

#hero:after{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.7
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 100px;
	justify-content: flex-end;

}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
	
}
#hero h1:nth-child(1){
	animation-delay: 1s;
}
#hero h1:nth-child(2){
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 2s;
}
#hero h1:nth-child(3){
	animation-delay: 3s;
}
#hero h1 span{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color:darksalmon;
	animation: text_reveal_box 1s ease ;
	animation-delay: .3s;
}

#hero h1:nth-child(1) span {
	animation-delay: .5s;
}

#hero h1:nth-child(2) span{
		animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
	animation-delay: 2.5s;
}
#hero .cta{
	display: inline-block;
	padding: 15px 30px;
	color: brown;
	background-color: transparent;
	border: 2px solid brown;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3 ease background-color;
	transition-property: background-color, color;
}

#hero .cta:hover{
	color:beige;
	background-color: brown;
}

@keyframes text_reveal_box{
	50%{
	width: 100%;
	left: 0;
}
100%{
	width: 0;
	left: 100%;
}
}

@keyframes text_reveal{
	100%{
		color: indianred;
	}
}
@keyframes text_reveal_name{
	100%{
		color: crimson;
		font-weight: 500px;
		}
}

#services .services{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

 .section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin: 50px 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;

}
#services .section-title span{
	color: brown;
}
#services .service-top p{
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 00.1rem;
}
#services .service-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item{
	flex-basis: 80%;
	padding: 30px;
	border-radius: 10px;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	background-image: url("./Images/bg7.jpeg");
	background-size:cover;
	background-position: center right;
	margin: 10px 5%;
	position: relative;
	z-index: -1;
	overflow: hidden ;
}
#services .service-item:nth-child(2){
	background-image: url(./images/bg2.jpeg);
}
#services .service-item:nth-child(3){
	background-image: url(./images/bg8.jpeg);
}

#services .service-item::after{
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: -1;
	position: absolute;
}
#services .service-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;

}
#services .service-item h2{
	font-size: 2rem;
	color: whitesmoke;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p{
	color:white;
	text-align: left;
	font-size: 1.6rem;
	line-height: 1.9rem;
}

/* The paintings */
#paintings .paintings{
	flex-direction:column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#paintings .painting-header h1{
	margin-bottom: 50px;

}

#paintings .all-paintings{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#paintings .painting-item{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#paintings .painting-info {
	padding: 30px;
	flex-basis: 50%;
	background-color:bisque;
	height: 100%;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
}
#paintingss .painting-info h1{
	font-size: 4rem;
	font-weight: 500;
}

#paintings .painting-image{
	flex: 50%;
	height: 300px;
	overflow: hidden;
}

#paintings .painting-image:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*background-color: black;
	opacity: 0.4;*/
}
#paintings .painting-image img{
	transition: 0.3s ease transform;
}
#paintings .painting-image:hover{
	transform: scale(1.1)
	
}

